.page{
    width:100%;
    display:flex;
    justify-content:center;
    padding:120px 5vw 80px;
    box-sizing:border-box;

}


.article{
    width:100%;
    max-width:900px;
}
.article-header{
    margin-bottom:70px;
}
.article-header h1{
    font-size:clamp(2.5rem,5vw,4rem);
    font-weight:700;
    margin-bottom:25px;
    color:#ffffff;
}

.intro{
    font-size:clamp(1.1rem,1.4vw,1.35rem);
    line-height:1.9;
    color:#cfcfcf;
    max-width:750px;
}

.article-section{
    margin-bottom:70px;
}

.article-section h2{
    font-size:clamp(1.5rem,2vw,2rem);
    margin-bottom:20px;
    color:#ff6b35;
}

.article-section p{
    font-size:clamp(1rem,1.2vw,1.15rem);
    line-height:2;
    color:#dddddd;
    margin-bottom:18px;
    text-align:justify;
}

.article-section ul{
    margin-left:25px;
    margin-top:20px;
}

.article-section li{
    margin-bottom:12px;
    line-height:1.8;
    color:#dddddd;
}

.article a{
    color:#ff6b35;
    text-decoration:none;
}

.article a:hover{
    text-decoration:underline;
}


@media (max-width:768px){
    .page{padding:90px 8vw 60px;}
    .article-header{margin-bottom:45px;}
    .article-section{margin-bottom:45px;}
}