<header class="site-header">
    <div class="navbtn">
        <button>
            <div class="navlogo">
                <?xml version="1.0" encoding="utf-8"?>
                <svg width="40px" height="40px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="16" height="16" id="icon-bound" fill="none" />
                <path d="M1,9h14V7H1V9z M1,14h14v-2H1V14z M1,2v2h14V2H1z" />
                </svg>
            </div>
        </button>
        
        <div class="dropdownnav">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="experience.html">Experience</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
    <div class="logo">
        <img src="./images/abelvlogo.svg" alt="Abel's Logo">
    </div>
</header>