.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.homepagebtn {
    margin-right: auto;
    width: 200px;
}
.logo {
    margin-left: auto;
}
.logo img {
    display: block;
    width: 200px;
}